﻿@model BenchmarkBible.Models.BibleVerseModel

@{
    ViewBag.Title = "SearchSuccess";
}

<h2 style="color: #941616">@Model.Book Chapter @Model.Chapter Verse @Model.VerseNum: @Model.VerseText</h2>

<body>
    <br /> <br />
    @Html.ActionLink("Back to Search", "GoToSearch", "Bible")
</body>
