﻿
@{
    ViewBag.Title = "Index";
}

<h2 stlye="color: #941616">Index</h2>

<body>
    @Html.ActionLink("Insert a Verse", "GoToInsert", "Bible")
    <br />
    @Html.ActionLink("Search for a Verse", "GoToSearch", "Bible")
</body>